<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/static/mediaqueries.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/mainstyle.css" />
  </head>
  <body>
    <nav id="desktop-nav">
      <div class="logo">Jaideep</div>
      <div>
        <ul class="nav-links">
          <li><a href="#about">About</a></li>
          <li><a href="#experience">Experience</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#internships">Internships</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
    <nav id="hamburger-nav">
      <div class="logo">Jaideep</div>
      <div class="hamburger-menu">
        <div class="hamburger-icon" onclick="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu-links">
          <li><a href="#about" onclick="toggleMenu()">About</a></li>
          <li><a href="#experience" onclick="toggleMenu()">Experience</a></li>
          <li><a href="#projects" onclick="toggleMenu()">Projects</a></li>
          <li><a href="#contact" onclick="toggleMenu()">Contact</a></li>
        </div>
      </div>
    </nav>
    <section id="profile">
      <div class="section__pic-container">
        <img src="./static/profile-pic2-black.jpg" alt="Jaideep profile picture" class="profile-pic"/>
      </div>
      <div class="section__text">
        <p class="section__text__p1">Hello, I'm</p>
        <h1 class="title">Jaideep Singh</h1>
        <p class="section__text__p2">Data Scientist</p>
        <div class="btn-container">
          <button
            class="btn btn-color-2"
            onclick="window.open('./static/resume.pdf')"
          >
            Download CV
          </button>
          <button class="btn btn-color-1" onclick="location.href='./#contact'">
            Contact Info
          </button>
        </div>
        <div id="socials-container">
          <img
            src="./static/linkedin.png"
            alt="My LinkedIn profile"
            class="icon"
            onclick="location.href='https://www.linkedin.com/in/jaideep-singh-99802522b/'"
          />
          <img
            src="./static/github.png"
            alt="My Github profile"
            class="icon"
            onclick="window.open('https://github.com/jaideep1837', '_blank')"
          />
        </div>
      </div>
    </section>
    <section id="about">
      <p class="section__text__p1">Get To Know More</p>
      <h1 class="title">About Me</h1>
      <div class="section-container">
        <div class="section__pic-container">
          <img
            src="./static/profile-pic4.jpg"
            alt="Profile picture"
            class="about-pic"
          />
        </div>
        <div class="about-details-container">
          <div class="about-containers">
            <div class="details-container">
              <img
                src="./static/experience.png"
                alt="Experience icon"
                class="icon"
              />
              <h3>Area of Interest</h3>
              <p>Machine Learning Deep Learning Generative AI</p>
            </div>
            <div class="details-container">
              <img
                src="./static/education.png"
                alt="Education icon"
                class="icon"
              />
              <h3>Education</h3>
              <p>Integrated M.Sc.<br />Applied Mathematics</p>
            </div>
          </div>
          <div class="text-container">
            <p>
              I'm passionate about ML, DL, and Gen-AI, with experience in building a Dynamic Discounting module, optimizing web scraping, and developing high-accuracy ML models. I love solving complex problems, from AI chatbots to cryptography. Skilled in Python, Django, TensorFlow, and SQL, I'm always eager to learn and grow. Excited about opportunities in AI, fintech, and analytics—let’s connect!
            </p>
          </div>
        </div>
      </div>
      <img
        src="./static/arrow.png"
        alt="Arrow icon"
        class="icon arrow"
        onclick="location.href='./#experience'"
      />
    </section>
    <section id="experience">
      <p class="section__text__p1">Explore My</p>
      <h1 class="title">Experience</h1>
      <div class="experience-details-container">
        <div class="about-containers">
          <div class="details-container">
            <h2 class="experience-sub-title">Tech Stack</h2>
            <div class="article-container">
              <article>
                <img
                  src="./static/checkmark.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>Python</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <img
                  src="./static/checkmark.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>C++</h3>
                  <p>Intermediate</p>
                </div>
              </article>
              <article>
                <img
                  src="./static/checkmark.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>Django</h3>
                  <p>Intermediate</p>
                </div>
              </article>
              <article>
                <img
                  src="./static/checkmark.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>Power BI</h3>
                  <p>Basic</p>
                </div>
              </article>
              <article>
                <img
                  src="./static/checkmark.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>Git/Github</h3>
                  <p>Intermediate</p>
                </div>
              </article>
              <article>
                <img
                  src="./static/checkmark.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>My SQL</h3>
                  <p>Intermediate</p>
                </div>
              </article>
            </div>
          </div>
          <div class="details-container">
            <h2 class="experience-sub-title">Libraries and Frameworks</h2>
            <div class="article-container">
              <article>
                <img
                  src="./static/checkmark.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>Scikit-Learn</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <img
                  src="./static/checkmark.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>TensorFlow</h3>
                  <p>Intermediate</p>
                </div>
              </article>
              <article>
                <img
                  src="./static/checkmark.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>LangChain</h3>
                  <p>Intermediate</p>
                </div>
              </article>
              <article>
                <img
                  src="./static/checkmark.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>Streamlit</h3>
                  <p>Basic</p>
                </div>
              </article>
              <article>
                <img
                  src="./static/checkmark.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>Numpy</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <img
                  src="./static/checkmark.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>Pandas</h3>
                  <p>Experienced</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
      <img
        src="./static/arrow.png"
        alt="Arrow icon"
        class="icon arrow"
        onclick="location.href='./#projects'"
      />
    </section>
    <section id="projects">
      <p class="section__text__p1">Browse My Recent</p>
      <h1 class="title">Projects</h1>
      <div class="experience-details-container">
        <div class="about-containers">
          <div class="details-container color-container">
            <div class="article-container">
              <img
                src="./static/project-1.webp"
                alt="Project 1"
                class="project-img"
              />
            </div>
            <h2 class="experience-sub-title project-title">News Research Tool - AI Chatbot</h2>
            <p>RAG based news research tool for equity analysts, implemented as an AI chatbot using Langchain.</p><br>
            
            <div class="btn-container">
              <button
                class="btn btn-color-2 project-btn"
                onclick="window.open('https://github.com/jaideep1837/AI-Chatbot', '_blank')"
              >
                Github
              </button>
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='https://www.youtube.com/watch?v=2L6gsn7rGqI&t=198s'"
              >
                Live Demo
              </button>
            </div>
          </div>
          <div class="details-container color-container">
            <div class="article-container">
              <img
                src="./static/project-2.png"
                alt="Project 2"
                class="project-img"
              />
            </div>
            <h2 class="experience-sub-title project-title">Crop Recommendation System</h2>
            <p>A crop recommendation system implemented as a fully functional Django application.</p><br>
            <div class="btn-container">
              <button
                class="btn btn-color-2 project-btn"
                onclick="window.open('https://github.com/jaideep1837/Crop-Recommender', '_blank')"
              >
                Github
              </button>
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='https://github.com/'"
              >
                Live Demo
              </button>
            </div>
          </div>
          <div class="details-container color-container">
            <div class="article-container">
              <img
                src="./static/project-3.png"
                alt="Project 3"
                class="project-img"
              />
            </div>
            <h2 class="experience-sub-title project-title">Enhanced Secret Sharing Scheme</h2>
            <p>A doubly secured data confidentiality system developed using Python’s PyCrypto toolkit.</p><br>
            <div class="btn-container">
              <button
                class="btn btn-color-2 project-btn"
                onclick="window.open('https://github.com/jaideep1837/Enhanced-Secret-Sharing-Scheme', '_blank')"
              >
                Github
              </button>
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='https://github.com/'"
              >
                Live Demo
              </button>
            </div>
          </div>
        </div>
      </div>
      <img
        src="./static/arrow.png"
        alt="Arrow icon"
        class="icon arrow"
        onclick="location.href='./#internships'"
      />
    </section>

    <section id="internships">
      <p class="section__text__p1">Browse My</p>
      <h1 class="title">Internships</h1>
      <div class="experience-details-container">
        <div class="about-containers">
          <div class="details-container color-container">
            <div class="article-container">
              <img
                src="./static/internship-1.png"
                alt="Project 1"
                class="project-img"
              />
            </div>
            <h2 class="experience-sub-title project-title">Backend Development Internship</h2>
            <p>A dynamic discounting module designed and integrated into a loan management system for enhanced data visualization and analysis.</p><br>
            
            <div class="btn-container">
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='https://github.com/'"
              >
                Github
              </button>
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='https://www.youtube.com/watch?v=2L6gsn7rGqI&t=198s'"
              >
                Live Demo
              </button>
            </div>
          </div>
          <div class="details-container color-container">
            <div class="article-container">
              <img
                src="./static/internship-2.webp"
                alt="Project 2"
                class="project-img"
              />
            </div>
            <h2 class="experience-sub-title project-title">Web Scraping <br>Internship</h2>
            <p>A web scraping algorithm developed and optimized targeting Watchoutinvestors.com to enhance loan    application flagging.</p><br>
            <div class="btn-container">
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='https://github.com/'"
              >
                Github
              </button>
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='https://github.com/'"
              >
                Live Demo
              </button>
            </div>
          </div>
        </div>
      </div>
      <img
        src="./static/arrow.png"
        alt="Arrow icon"
        class="icon arrow"
        onclick="location.href='./#contact'"
      />
    </section>

    <section id="contact">
      <p class="section__text__p1">Get in Touch</p>
      <h1 class="title">Contact Me</h1>
      <div class="contact-info-upper-container">
        <div class="contact-info-container">
          <img
            src="./static/email.png"
            alt="Email icon"
            class="icon contact-icon email-icon"
          />
          <p><a href="mailto:jaideep_s@ma.iitr.ac.in">jaideep_s@ma.iitr.ac.in</a></p>
        </div>
        <div class="contact-info-container">
          <img
            src="./static/linkedin.png"
            alt="LinkedIn icon"
            class="icon contact-icon"
          />
          <p><a href="https://www.linkedin.com/in/jaideep-singh-99802522b/">LinkedIn</a></p>
        </div>
      </div>
    </section>
    <footer>
      <nav>
        <div class="nav-links-container">
          <ul class="nav-links">
            <li><a href="#about">About</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#internships">Internships</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </nav>
      <p>Copyright &#169; 2025 Jaideep Singh. All Rights Reserved.</p>
    </footer>
    
    <div class="chatbot-button" onclick="toggleChatbot(event)">💬</div>
    <div class="chatbot-container" id="chatbot" onclick="event.stopPropagation()">
        <div class="chatbot-header" onclick="toggleChatbot(event)">Chatbot</div>
        <div class="chatbot-messages" id="chatbox"></div>
        <div class="chatbot-input">
            <input type="text" id="userInput" placeholder="Type a message..." onkeydown="handleKeyPress(event)">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>

    <script src="./static/script.js"></script>
  </body>
</html>

